
.bg-img {
  position: absolute;
  width: 100vw;
  right: 10px;
  z-index: -1;
}

.heading {
  font-weight: bold;
  font-size: 44px;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}