<ion-content [fullscreen]="true">
    <ion-img [src]="'../../assets/img/home/welcome_bg.svg'" class="bg-img"></ion-img>
    <ion-img [src]="'../../assets/img/home/welcome_habit.svg'" class="habit-img"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-text style="text-align: center;">
            <h1>Habit Tracker</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="btn">
          <ion-button (click)="loginViaGoogle()">
            <ion-icon slot="start" expand="block" name="log-in-outline"></ion-icon>
            SignIn with Google
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>


